/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '/node_modules/antd/dist/antd.css';
@import '/node_modules/@uiw/react-md-editor/dist/markdown-editor.css';
@import '/node_modules/@uiw/react-markdown-preview/dist/markdown.css';
 #root{
   height: 100%;
 }
#root .ant-layout.layout{
  height: 100%
}
.mainContent{
  background-color: red;
  height: 100%!important;
  margin-top: 70px;
}

.w-md-editor.w-md-editor-show-live{
  height: 100%!important;
  width: 100%!important;
}
.w-md-editor-content{
  height: 100%!important;
}
.w-md-editor-aree.w-md-editor-input{
  height: 100%;
}
