/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '/node_modules/antd/dist/antd.css';
 #root{
   height: 100vh;
 }
#root .ant-layout.layout{
  height: 100vh;
  overflow: hidden;
}
.mainContent{
  height: 100vh!important;
  padding: 3rem 0;
}

